{% extends "store/base.html" %}
{% load static %}

{% block content %}
    <div class="container my-5">
      <h1 class="text-center">О нас</h1>
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'store/images/about.jpg'%}" class="img-fluid rounded" alt="О нас">
        </div>
        <div class="col-md-6">
          <p class="lead">Добро пожаловать в наш интернет-магазин, где вы найдете самые свежие и качественные фрукты, овощи и соки.</p>
          <p>Наш магазин был основан с целью предоставить нашим клиентам лучшие продукты, выращенные с заботой и любовью. Мы работаем напрямую с фермерами и производителями, чтобы гарантировать свежесть и качество каждого продукта.</p>
          <p>Мы гордимся нашим широким ассортиментом, который включает в себя как местные, так и экзотические фрукты и овощи. Также у нас вы найдете натуральные соки, изготовленные из свежих фруктов и овощей без добавления консервантов и сахара.</p>
          <p>Наши ценности:</p>
          <ul>
            <li>Качество: мы предлагаем только лучшие продукты, соответствующие высоким стандартам.</li>
            <li>Свежесть: все наши продукты доставляются ежедневно, чтобы гарантировать их свежесть.</li>
            <li>Забота о клиентах: мы стремимся предоставить лучший сервис и удовлетворить потребности каждого клиента.</li>
          </ul>
          <p>Спасибо, что выбрали нас. Мы с нетерпением ждем возможности обслужить вас!</p>
        </div>
      </div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
{% endblock %}