{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'store/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'store/css/style.css'%}" rel="stylesheet">
    {% block title%}
    {% endblock %}
</head>
<body>

        {% include 'store/navbar.html' %}
        {% block content %}
        {% endblock %}
        <footer class="text-center">
          <div class="container">
            <p>&copy; 2024 Интернет-магазин. Все права защищены.</p>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Политика конфиденциальности</a></li>
              <li class="list-inline-item"><a href="#">Условия обслуживания</a></li>
<!--              <li class="list-inline-item"><a href="#">Контакты</a></li>-->
              <li class="list-inline-item"><p>{{phone}}</p></li>
              <li class="list-inline-item"><p>{{email}}</p></li>
              <li class="list-inline-item"><p>{{address}}</p></li>
              <li class="list-inline-item"><p>{{opening_hours}}</p></li>
<!--              <li class="list-inline-item"><a href="#">{{phone}}</a></li>-->
            </ul>
          </div>
        </footer>

</body>
</html>